<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>A-DAT</title>
    <link rel="stylesheet" href="assets/room_booking/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/room_booking/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/room_booking.min.css">
    <script src="assets/room_booking/js/room_service.js"></script>
</head>
<body>
    {% block content %}{% endblock %}
    <script type="text/javascript" src="assets/room_booking/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/room_booking/js/bootstrap.min.js"></script>
</body>

</html>